@model EB.ViewModels.HotelsViewModels
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/img_bg_5.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner slider-text-inner2 text-center">
                                <h2>Choose from our Best</h2>
                                <h1>Hotel Rooms &amp; Apartments</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="colorlib-rooms" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div id="London" class="col-md-4 room-wrap animate-box">
                <a href="/images/room-1.jpg" class="room image-popup-link" style="background-image: url(/images/room-1.jpg);"></a>
                <div class="desc text-center">
                    <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                    <h3><a href="rooms-suites.html">Montcalm Royal London House</a></h3>
                    <p class="price">
                        <span class="currency">£</span>
                        <span class="price-room">99</span>
                        <span class="per">/ per night</span>
                    </p>
                    <ul>
                        <li><i class="icon-check"></i> Only 10 rooms are available</li>
                        <li><i class="icon-check"></i> All inclusive</li>
                        <li><i class="icon-check"></i> Spa and wellness centre & swimming pool</li>
                    </ul>
                    <p><a class="btn btn-primary btn-book" href="@Url.Action("Book","Home")">Book now!</a></p>
                </div>
            </div>
            <div id="London" class="col-md-4 room-wrap animate-box">
                <a href="/images/room-2.jpg?jjjj" class="room image-popup-link" style="background-image: url(/images/room-2.jpg);"></a>
                <div class="desc text-center">
                    <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                    <h3><a href="rooms-suites.html">Tower Suites by Blue Orchid</a></h3>
                    <p class="price">
                        <span class="currency">£</span>
                        <span class="price-room">89</span>
                        <span class="per">/ per night</span>
                    </p>
                    <ul>
                        <li><i class="icon-check"></i> Perfect for traveling couples</li>
                        <li><i class="icon-check"></i> Breakfast included</li>
                        <li><i class="icon-check"></i> Tea/coffee maker in all rooms & Bar</li>
                    </ul>
                    <p><a class="btn btn-primary btn-book" href="@Url.Action("Book","Home")">Book now!</a></p>
                </div>
            </div>
            <div id="London" class="col-md-4 room-wrap animate-box">
                <a href="/images/room-3.jpg" class="room image-popup-link" style="background-image: url(/images/room-3.jpg);"></a>
                <div class="desc text-center">
                    <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                    <h3><a href="rooms-suites.html">K West Hotel & Spa</a></h3>
                    <p class="price">
                        <span class="currency">£</span>
                        <span class="price-room">119</span>
                        <span class="per">/ per night</span>
                    </p>
                    <ul>
                        <li><i class="icon-check"></i> Two double beds</li>
                        <li><i class="icon-check"></i> Babysitting facilities</li>
                        <li><i class="icon-check"></i> 1 free bed available on request</li>
                    </ul>
                    <p><a class="btn btn-primary btn-book" href="@Url.Action("Book","Home")">Book now!</a></p>
                </div>
            </div>
            <div id="London" class="col-md-4 room-wrap animate-box">
                <a href="/images/room-4.jpg" class="room image-popup-link" style="background-image: url(/images/room-4.jpg);"></a>
                <div class="desc text-center">
                    <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                    <h3><a href="rooms-suites.html">London Marriott Hotel Canary Wharf</a></h3>
                    <p class="price">
                        <span class="currency">£</span>
                        <span class="price-room">139</span>
                        <span class="per">/ per night</span>
                    </p>
                    <ul>
                        <li><i class="icon-check"></i> Excellent location </li>
                        <li><i class="icon-check"></i> All inclusive</li>
                        <li><i class="icon-check"></i> Luxury rooms and a state-of-the-art fitness suite</li>
                    </ul>
                    <p><a class="btn btn-primary btn-book" href="@Url.Action("Book","Home")">Book now!</a></p>
                </div>
            </div>
            <div id="Busteni" class="col-md-4 room-wrap animate-box">
                <a href="/images/room-5.jpg" class="room image-popup-link" style="background-image: url(/images/room-5.jpg);"></a>
                <div class="desc text-center">
                    <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                    <h3><a href="rooms-suites.html">Complex Cochet</a></h3>
                    <p class="price">
                        <span class="currency">£</span>
                        <span class="price-room">59</span>
                        <span class="per">/ per night</span>
                    </p>
                    <ul>
                        <li><i class="icon-check"></i> Restaurant, bar, private dining areas with a fireplace</li>
                        <li><i class="icon-check"></i> Siniaia’s ski slope is a 5-minute drive away</li>
                        <li><i class="icon-check"></i> Close to Urlatoarea Waterfall</li>
                    </ul>
                    <p><a class="btn btn-primary btn-book" href="@Url.Action("Book","Home")">Book now!</a></p>
                </div>
            </div>
            <div id="MiltonKeynes" class="col-md-4 room-wrap animate-box">
                <a href="/images/room-6.jpg" class="room image-popup-link" style="background-image: url(/images/room-6.jpg);"></a>
                <div class="desc text-center">
                    <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
                    <h3><a href="rooms-suites.html">Horwood House Hotel</a></h3>
                    <p class="price">
                        <span class="currency"><small>£</small></span>
                        <span class="price-room">79</span>
                        <span class="per">/ per night</span>
                    </p>
                    <ul>
                        <li><i class="icon-check"></i> Spa and wellness centre</li>
                        <li><i class="icon-check"></i> Room service</li>
                        <li><i class="icon-check"></i> Free parking</li>
                    </ul>
                    <p><a class="btn btn-primary btn-book"  href="@Url.Action("Book","Home")">Book now!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>